.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: #e7ded9;
  padding: 1rem;
  height: 42vh;
  width: 100vw;
}

.cards-page {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color:#e7ded9;
  padding: 1rem;
  height: 84vh;
  width: 100vw;
}

.container-zone {
  display: flex;
  align-items: center;
  border-style: double;
  border-color: #4E4F50;
  border-width: 2px;
  flex-flow: column;
  height: 42vh;
  width: 100vw;
}

.page-navigation {
  display: flex;
  justify-content: space-around;
  background-color: #e7ded9;
  width: 100vw;
  max-height: 30px;
  padding-bottom: 0.5vh;
}