.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: #303437;
  border-style: double;
  border-color: grey;
  border-width: 2px;
  border-radius: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  width: 80vw;
}

.container-zone {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.page-navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  width: 80vw;
}