.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color:#141414;
  border-style: double;
  border-color: grey;
  border-width: 2px;
  padding: 1rem;
  min-height: 300px;
  width: 1404px;
}

.container-zone {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.page-navigation {
  display: flex;
  justify-content: space-between;
  width: 1400px;
  max-height: 30px;
}