.card img {
  border-radius: 10px;
}

.deck {
  background-color: #0c4160;
  border-radius: 1rem;
  color: #c3ceda;
  width: 4vw;
  height: 4vw;
  padding: 1rem;
}

@media screen and (max-width: 375px) {

  .card img {
    border-radius: 5px;
    width: 65px;
  }
}