.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #071330;
  border-bottom:  2px double #0c4160;
  padding: 1rem;
  color: #c3ceda;
  height: 10vh;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100vw;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

.navbar {
  display: flex;
  border-style: solid;
  border-color: #738fa7;
  border-width: 1px;
  border-radius: 1rem;
  padding: 1rem;
}

.navbar li {
  margin: 0 15px 0;
}

.navbar li > a:link, a:visited {
  text-decoration: none;
  color: #c3ceda;
}

.title {
  font-size: 30px;
}