@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #071330;
  font-family: 'Karla', sans-serif;
  height: 84vh;
}

p {
  font-size: 5rem;
  text-align: center;
}

@media screen and (max-width: 375px) {

  .home-container img{
    width: 20em;
  }
  
  p {
    font-size: 3rem;
    text-align: center;
  }
}

@media screen and (max-width: 1366px) {

  .home-container img{
    width: 29em;
    padding-top: 2em;
  }
  
  p {
    font-size: 4rem;
    text-align: center;
  }  
}