footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #071330;
  border-top:  2px double #0c4160;
  bottom: 0;
  height: 6vh;
  position: absolute;
  width: 100vw;
}

footer a {
  color: #c3ceda;
  margin-left: 10px;
  text-decoration: none;
}

.logos {
  display: flex;
  justify-content: space-between;
}
.logos img {
  height: 2rem;
  margin-right: 10px;
}